*{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    background: #f1f1f1;
    font-size: 14px;
    color: #222;
    font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei",SimSun,sans-serif;
}